.container{
    max-width: 500px;
    margin: 0 auto;
}

.display{
    text-align: center;
    font-size: 40px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
button{
    padding: 15px 25px;
    font-size: 28px;
}